
*{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    
}


header{

    border-bottom: 2px   dotted rgba(77, 73, 73, 0.767);
    min-height: 70px;



}
.container-div{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.footer{
   text-align: center;
   color: rgb(88, 87, 87);
    padding: 5px;
}
#header_title{
    font-size: 25px;
    color: rgb(110, 65, 136);
    font-weight: 600;
}
#header_title:hover{
    color: rgb(75, 29, 97);
    cursor: pointer;
}
li .nav-link{
    
    color: black;
    font-size: 18px;
    padding: 8px;
}
li .nav-link:hover{
    color: rgb(110, 65, 136);
    background-color: rgba(201, 192, 192, 0.267);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
ul {
    margin: 0;
    list-style-type: none;
    
}
#form
{
    max-width: 500px;
    height: 100vh;
    
    
}
#form form{
    
    margin-top: 60px;
}
form input{
    background-color: #cad3d4 !important;
    margin-top: 7px;
}

form input:hover{
    border-color: #8b5cf6 !important;
}
form input:focus{
    border-color: #8b5cf6 !important;
    box-shadow: 0 0 0 0.2rem rgba(139, 92, 246, 0.25) !important;
    outline: none !important;
}
button{
    max-width: 200px;
}

.btn-outline-primary {
    color: #8b5cf6;
    border-color: #8b5cf6;
}

.btn-outline-primary:hover {
    background-color: #8b5cf6;
    border-color: #8b5cf6;
    color: white;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,minmax(220px, 280px));
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    gap: 20px;
}
.items{
    cursor: pointer;
}
.items img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

@media (max-width:768px){
    .grid{
        grid-template-columns: repeat(2,minmax(220px, 280px));
    }
}
@media (max-width:480px){
    .grid{
        grid-template-columns: repeat(1,minmax(220px, 280px));
    }
}
.title-publications{
    text-align: left;
    font-size: 2rem;
    padding-left: 15px;

}
.btn-info:hover{
    background-color: rgb(51, 187, 241);
    
    transition: 0.3s;
    cursor: pointer;
}
 .container-button{
    padding-left: 15px;
    padding-bottom: 15px;
}
.container-button button{
    margin-top: 15px !important;
 }
.info p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

