
*{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    
}


header{

    border-bottom: 2px   dotted rgba(77, 73, 73, 0.767);
    min-height: 70px;



}
.container-div{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.footer{
   text-align: center;
   color: rgb(88, 87, 87);
    padding: 5px;
}
#header_title{
    font-size: 25px;
    color: rgb(110, 65, 136);
    font-weight: 600;
}
#header_title:hover{
    color: rgb(75, 29, 97);
    cursor: pointer;
}
li .nav-link{
    
    color: black;
    font-size: 18px;
    padding: 8px;
}
li .nav-link:hover{
    color: rgb(110, 65, 136);
    background-color: rgba(201, 192, 192, 0.267);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
ul {
    margin: 0;
    list-style-type: none;
    
}
#form
{
    max-width: 500px;
    height: 100vh;
    
    
}
#form form{
    
    margin-top: 60px;
}
form input{
    background-color: #cad3d4 !important;
    margin-top: 7px;
}

form input:hover{
    border-color: #8b5cf6 !important;
}
form input:focus{
    border-color: #8b5cf6 !important;
    box-shadow: 0 0 0 0.2rem rgba(139, 92, 246, 0.25) !important;
    outline: none !important;
}
button{
    max-width: 200px;
}

.btn-outline-primary {
    color: #8b5cf6;
    border-color: #8b5cf6;
}

.btn-outline-primary:hover {
    background-color: #8b5cf6;
    border-color: #8b5cf6;
    color: white;
}