
*{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    
}


header{

    border-bottom: 2px   dotted rgba(77, 73, 73, 0.767);
    min-height: 70px;



}
.container-div{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.footer{
    text-align: center;
    color: rgb(88, 87, 87);
    padding: 5px;
    margin-top: 25px;
}
#header_title{
    font-size: 25px;
    color: rgb(110, 65, 136);
    font-weight: 600;
}
#header_title:hover{
    color: rgb(75, 29, 97);
    cursor: pointer;
}
li .nav-link{
    
    color: black;
    font-size: 18px;
    padding: 8px;
}
li .nav-link:hover{
    color: rgb(110, 65, 136);
    background-color: rgba(201, 192, 192, 0.267);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
ul {
    margin: 0;
    list-style-type: none;
    
}
#form
{
    max-width: 500px;
    height: 100vh;
    
    
}
#form form{
    
    margin-top: 60px;
}
form input{
    background-color: #cad3d4 !important;
    margin-top: 7px;
}

form input:hover{
    border-color: #8b5cf6 !important;
}
form input:focus{
    border-color: #8b5cf6 !important;
    box-shadow: 0 0 0 0.2rem rgba(139, 92, 246, 0.25) !important;
    outline: none !important;
}
button{
    max-width: 200px;
}

.btn-outline-primary {
    color: #8b5cf6;
    border-color: #8b5cf6;
}

.btn-outline-primary:hover {
    background-color: #8b5cf6;
    border-color: #8b5cf6;
    color: white;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,minmax(220px, 280px));
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    gap: 20px;
}
.items{
    cursor: pointer;
}
.items img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

@media (max-width:768px){
    .grid{
        grid-template-columns: repeat(2,minmax(220px, 280px));
    }
}
@media (max-width:480px){
    .grid{
        grid-template-columns: repeat(1,minmax(220px, 280px));
    }
}
.title-publications{
    text-align: left;
    font-size: 2rem;
    padding-left: 15px;

}
.btn-info:hover{
    background-color: rgb(51, 187, 241);
    
    transition: 0.3s;
    cursor: pointer;
}
 .container-button{
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}
.container-button button{
    margin-top: 15px !important;
 }
 #margin-container{
    margin-top: 10rem;
   
 }  
.info p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

}
.modal-content {
    background-color: white;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(58, 4, 133, 0.2);
    width: 80%;
    max-width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    color:red;
}
.modal-ContainerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.modal-ContainerContent, .modal-formImg, .modal-formInfo {
   height: 100%;
   width: 100%;
}

.modal-formImg{
    display: flex;
    align-items: center;
    

}

.modal-formInfo{
    display: flex;
    align-items: center;
}
.modal-formInfo form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    height: 80%;
  }
  .modal-formInfo .campo textarea{

    border: none;
    display: block;
    resize: none;
    box-sizing:border-box ;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    scrollbar-width: none;
    border-bottom: 2px solid #676262;
    height: 18px;
    width: 100% !important;
    max-height: 72px;

  }
@media (width > 560px) {
    .modal-formInfo .campo {
        width: 200px !important;
    }
    
}



  form textarea::-webkit-scrollbar {
    display: none;
  }
  .campo textarea:focus {
    outline: none;
    
  }
  .campo{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .campo label{
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
  }
  input[type="text"]:focus {
    outline: none;
    
  }

  input[type="file"] {
    display: none; /* Oculta el input real */
    
  }
#btn-post {
    padding: 10px;
    background-color: rgba(107, 13, 214, 0.853);
    color:#fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

#btn-post:hover {
    background-color: rgb(65, 3, 136);
}
#searchInput {
    width:80% ;
    max-width: 550px;
    height: 40px;
    border: #535252 1px  solid;
    border-radius: 6px;
}

  
#searchInput:focus
{
    outline: 1px solid rgb(120, 74, 146) ;
    border: 2px solid  rgb(120, 74, 146) ;
    outline-offset:1px ;
}

.loading {
        text-align: center;
        color: #666;
        padding: 20px;
    }
    
.no-results {
        text-align: center;
        color: #999;
        padding: 20px;
}