{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}

{% block main %}    
        <h1 class="display-1 mt-5 pt-4 text-center">Bienvenido a Thimf</h1>
        <div class="px-4 py-5 my-4 text-center">
            <h1 class="fw-bold text-body-emphasis h1">El punto de encuentro entre talento y oportunidad</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 fs-5">
                        Thimf conecta personas con habilidades reales con head-hunters, agencias y empresas que 
                        buscan perfiles destacados. Mostrá lo que sabés hacer y abrí la puerta a nuevas oportunidades.
                </p>
            </div>
        </div >
        <div class="container " id="margin-container">
            <h2 class=" my-3 py-2 ">Tus Publicaciones</h2>
            {% if posts %}
            <div class="grid ">
                
                {% for post in posts %}
                <div class="items">
                    {% if post.img  %}
                        <img src="{{url_for('static',filename='uploads/' + post.img)}}">
                        
                    {% else%}
                        <img src="/static/uploads/none.png">
                    {% endif %}
                    <div class="info">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description }}</p>
                    </div>
                    <form action="/deletePost" method="post">
                        <input type="hidden" value="{{post.title}}" name="title">
                        <input type="hidden" value="{{post.description}}" name="description">
                        <input type="hidden" value="{{post.img}}" name="filename">
                        <input type="hidden" value="{{post.username}}" name="username">
                        <button class="btn btn-danger">
                            Delete
                        </button>

                    </form>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <p style="width: 100%; text-align: start; margin: 30px 0px;padding: 15px 0px;font-size: 18px;">No hay publicaciones aún.</p>

            {% endif%}
            <div class="w-100 text-center text-md-start my-5 container-button">
                {% if session['id'] %} 
                    <button class="btn btn-info" type="button" id="openModalBtn">Publicar</button>
                {% else %}
                    <button class="btn btn-info" type="button" id="openModalBtn" disabled>Publicar</button>
                {% endif %}                    


            </div>
        </div>


        <div id="modal" class="modal">
        <div class="modal-content">
            <span id = "closeModalBtn" class = "close">&times; </span>
            <div class="modal-ContainerContent">
                <div class="modal-formImg">
                        <label for="file-upload" class="custom-file-upload">Seleccionar Archivo</label>
                        <input id="file-upload" type="file"  form="formInfo" accept="image/*,video/*" name="image">
                        <img id="imagen-reemplazo" src="" style="display: none; width: 100%; height: 100%; object-fit: cover; ">
                    
                    
                </div>
                <div class="modal-formInfo">
                    <form action="/posts" id ="formInfo" method="post"  enctype="multipart/form-data">
                        <div class="campo">
                                <label for="title">Titulo</label>
                                <textarea name="title" id="title" ></textarea>
                        </div>
                        <div class="campo">
                            <label for="description">Descripcion</label>
                            <textarea name="description" id="description" ></textarea>
                        </div>
                        <button id="btn-post" type="submit" form="formInfo" >Publicar</button>
                    </form>
                </div>
                
            </div>

        </div>
    </div>
    </div>
    

{% endblock %}
