{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}

{% block main %}    


{% if error %}
    <p><strong>{{error}}</strong></p>
{% endif %}
<form action="/login" method="post">

    <input type="text" name="username" placeholder="User" class="form-control my-2" autocomplete="off" >
    <input type="password" name="password" placeholder="Password" class="form-control my-2" autocomplete="off">
    <button type="submit" class="btn btn-primary w-100 my-2">Iniciar sesión</button>

</form>





{% endblock %}
