{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}

{% block main %}    

<form action="/register" method="post">

    <input type="text" name="username" placeholder="User" class="form-control my-2" required>
    <input type="password" name="password" placeholder="Password" class="form-control my-2" required>
    <input type="password" name="password" placeholder="Confirm Password" class="form-control my-2" required>
    <button type="submit" class="btn btn-primary w-100 my-2">Register</button>

</form>






{% endblock %}
